.employee-box {
  background: white;
  padding: 0px 20px 6px;
  border-radius: 12px;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
  margin-top: 0px;
}

.employee-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.employee-header h2 {
  font-size: 28px;
  margin-bottom: 2px;
}

.employee-header p {
  font-size: 14px;
  color: #666;
  margin-top: 0;       
  margin-bottom: 0;    
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
}

.employee-table th, .employee-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.status-btn {
  border: none;
  padding: 5px 12px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 12px;
  text-transform: lowercase;
}

.status-btn.present {
  background-color: black;
  color: white;
}

.status-btn.absent {
  background-color: white;
  color: black;
  border: 1px solid #ddd;
}

.icon-btn {
  background: none;
  border: none;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
}

.employee-table tbody tr:last-child td {
  border-bottom: none;
}


.icon-btn:hover{
    background-color: #ededed;
}

.icon-btn.delete {
  color: red;
}
